
  <div class="max-height">
    <ars-row [height]="30"></ars-row>

    <p>
      »frag.jetzt« is funded by the Federal State of Hessen as part of the
      <abbr title="Hessisches Ministerium für Wissenschaft und Kunst">
        HMWK
      </abbr>
      joint project <a href="https://www.digll-hessen.de/de" target="_blank">
      »Digitally supported teaching and learning in the State of Hessen«</a>
      (digLL).<br>
      <br>
    </p>
    <ars-row [height]="20"></ars-row>
    <ars-row ars-flex-box style="justify-content:left;flex-wrap: wrap">
      <img src="https://arsnova.thm.de/blog/wp-content/uploads/2015/07/HMWK-Logo-300x136.png" alt="HMWK-Logo"
           width="200px" style="float:left;">
      <ars-col></ars-col>
      <img src="https://digll.studiumdigitale.uni-frankfurt.de/files/2019/06/digLL_Logo_small.png" alt="digLL-Logo"
           width="200px" style="float:left;">
      <ars-fill></ars-fill>
    </ars-row>
    <ars-row [height]="20"></ars-row>

    <p>
      <a href="https://arsnova.thm.de/blog/wp-content/uploads/2019/09/Projektantrag-DigLL@THM-frag_jetzt.pdf"
         target="_blank">Projektskizze zu »frag.jetzt«</a>
    </p>

    <ars-row [height]="50"></ars-row>
    <h2>
      Accessibility Statement for frag.jetzt
    </h2>
    <p>
      frag.jetzt is committed to ensuring digital accessibility for people with disabilities.
      We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
    </p>
    <ars-row [height]="50"></ars-row>
    <h2>
      Conformance status
    </h2>
    <p>
      The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a>
      defines requirements for designers and developers to improve accessibility for people with disabilities. It
      defines three levels of conformance: Level A, Level AA, and Level AAA.frag.jetzt
      is partially conformant with WCAG 2.1 level AA. Partially conformant means that
      some parts of the content do not fully conform to the accessibility standard.
    </p>
    <ars-row [height]="50"></ars-row>
    <h2>Feedback</h2>
    <p>

      We welcome your feedback on the accessibility of frag.jetzt.
      Please let us know if you encounter accessibility barriers on
      frag.jetzt:
    </p>
    <ul>
      <li>
        Telefon:
        +49 641 309-2450
      </li>
      <li>
        E-mail:
        <a href="mailto:test@test.deklaus.quibeldey-cirkel@transmit.de.klaus.quibeldey-cirkel@transmit.de.">
          klaus.quibeldey-cirkel@transmit.de.
        </a>
      </li>
    </ul>
    <ars-row [height]="50"></ars-row>
    <h2>Contact</h2>
    <p>
      The operation of the <a href="https://github.com/thm-projects/frag.jetzt" target="_blank">open-source web
      application</a> »frag.jetzt« is a free service
      (»Software as a Service«) of the TransMIT GmbH, project division for mobile applications.<br>
      <br>
      Kerkrader Straße 3<br>
      D-35394 Gießen<br>
      Germany<br>
      <br>
      c/o THM<br>
      Department of Mathematics, Natural Sciences and Informatics<br>
      Prof. Dr. Klaus Quibeldey-Cirkel<br>
      Professorship for Software Engineering<br>
      <br>
      Wiesenstraße 14<br>
      D-35390 Gießen<br>
      Germany<br>
      <br>
      Phone: <a href="tel:+49 641 309-2450">+49 641 309-2450</a><br>
      Mail: <a href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de</a>.<br>
      <br>
      Company headquarters: Gießen<br>
      Website: <a href="https://www.transmit.de">www.transmit.de</a><br>
      Legal form: GmbH<br>
      Local court: Gießen HRB 3036<br>
      German VAT no.: DE 188 685 037<br>
      <br>
    </p>
  </div>

